/* #canvas {
    border: 3px solid rgb(15, 107, 119);
    background-color: rgb(39, 83, 167);
} */

.info {
    background-color: #095256;
    color: #86a873;
    text-align: center;
    font-size: 95%;
    font-weight: 900;
    height:30px;
    width: 10%;
    float: left;
    position: relative;
    margin:-35px 4% 35px 4%;
    text-align: center;
}
