/* #canvas {
    border: 3px solid rgb(15, 107, 119);
    background-color: rgb(39, 83, 167);
} */

.score {
    height: 30px;
    width: 50px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}