/* #canvas {
    border: 3px solid rgb(15, 107, 119);
    background-color: rgb(39, 83, 167);
} */

.info {
    background-color: black;
    color: aliceblue;
    text-align: center;
    height:30px;
    width: 10%;
    float: left;
    position: relative;
    margin:5px 4%;
    text-align: center;
}

.gameOver {
    back
}